@model IEnumerable<MVC_NorthWind.Models.Territories>

@{
    ViewBag.Title = "Territorios";
}

<head>
    <style>
        .card {
            margin-top: 2em;
            margin-left: 15em;
        }
    </style>
</head>

<div class="card shadow p-3 mb-5" style="width: 50rem;">
    <div class="card-body" align="center">
        <img class="rounded mx-auto d-block w-50" src="~/images/gif/territories.gif" />
        <h3 class="card-title">Seccion de Territorios</h3>
        <h4 class="card-text">Elija la opcion que desea realizar</h4>
        <a href="/Territories/Create" class="btn btn-primary">Añadir Territorio</a>
        <a href="/Territories/TodosTerritorios" class="btn btn-primary">Mostrar Todos Los Territorios</a>
    </div>
</div>