@model IEnumerable<MVC_NorthWind.Models.Model2.EmployeeTerritories>

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        .card {
            margin-top: 2em;
            margin-left: 15em;
        }
    </style>
</head>

<div class="card shadow p-3 mb-5" style="width: 50rem;">
    <div class="card-body" align="center">
        <img class="rounded mx-auto d-block w-50" src="~/images/gif/employeeterritories.gif" />
        <h3 class="card-title">Seccion de Employees Territories</h3>
        <h4 class="card-text">Elija la opcion que desea realizar</h4>
        <a href="/EmployeeTerritories/Create" class="btn btn-primary">Añadir Employees Territories</a>
        <a href="/EmployeeTerritories/TodosEmpTer" class="btn btn-primary">Mostrar Todos Los Employees Territories</a>
    </div>
</div>
