@model IEnumerable<MVC_NorthWind.Models.Employees>

@{
    ViewBag.Title = "Empleados";
}

<head>
    <style>
        .card{
            margin-top: 2em;
            margin-left: 15em;
        }
    </style>
</head>

<div class="card shadow p-3 mb-5" style="width: 50rem;">
    <div class="card-body" align="center">
        <img class="rounded mx-auto d-block w-50" src="~/images/gif/employees.gif" />
        <h3 class="card-title">Seccion de Empleados</h3>
        <h4 class="card-text">Elija la opcion que desea realizar</h4>
        <a href="/Employees/Create" class="btn btn-primary">Añadir Empleado</a>
        <a href="/Employees/TodosEmpleados" class="btn btn-primary">Mostrar Todos Los Empleados</a>
    </div>
</div>